target/**
.classpath
.classpath/**
/target/
.settings/**
logs/**
output.log*
*.txt
.project
.idea
src/main/webapp/dist/**
*.json
/logs/
/workbench/
/dep/
/returners
/Users/jbsanchez/dev/mysql_data_migration/src/main/java/com/sinclair/digital/app/migrate/Dao/returners/
/mysql_data_migration/src/main/java/com/sinclair/digital/app/migrate/model
resources
/storage/
*.icloud
*.xml
ClearAllTables.java
ClearTables.java